openapi: 3.1.0
info:
  title: Eppo Cloud REST Allocations Metrics API
  version: 1.0.0
  description: REST API for the Eppo feature flagging and experimentation platform. Used to manage feature flags, allocations, experiments, metrics, assignments, and platform configuration outside of the Eppo web UI. Best-effort spec derived from publicly documented surfaces; not exhaustive.
  contact:
    name: Eppo Support
    url: https://docs.geteppo.com/
  license:
    name: Proprietary
servers:
- url: https://eppo.cloud/api/v1
  description: Eppo Cloud production base URL
security:
- eppoToken: []
tags:
- name: Metrics
paths:
  /metrics:
    get:
      tags:
      - Metrics
      summary: List metrics
      operationId: listMetrics
      responses:
        '200':
          description: Metrics list
    post:
      tags:
      - Metrics
      summary: Create a metric definition
      operationId: createMetric
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                aggregation:
                  type: string
                  enum:
                  - count
                  - sum
                  - mean
                  - min
                  - max
                sql:
                  type: string
                entityKey:
                  type: string
      responses:
        '201':
          description: Metric created
components:
  securitySchemes:
    eppoToken:
      type: apiKey
      in: header
      name: X-Eppo-Token
      description: Eppo REST API key created in Admin > API Keys. Distinct from Eppo SDK keys used to connect SDK clients.
